@{
    ViewData["Title"] = "Apagar";
}

@addTagHelper *, PadariaDoceAroma

@model Item
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="./css/remover.css">
</head>

<body>
    <main>

        <div id="container">
            <h3>Doce aroma</h3>
            <h2 class="registro">Você gostaria </h2>
            <h2 class="registro">de remover</h2>
            <h2 class="registro">esse item ? </h2>
            <div id="opcoes">
                <a href="./registro.html" target="_blank"> <button class="botoes">SIM</button> </a>
                <a href="./listagem.html" target="_blank"><button class="botoes">NÃO</button></a>
            </div>
        </div>
        <div id="produto">
            <h4>Nome: </h4>
            <h4>Valor: R$</h4>
            <h4>É vegano? : </h4>
            <h4>Categoria : </h4>
            <h4>Descrição: </h4>
        </div>
        </div>

    </main>

</body>

</html>